/*=============================================
=            SECTION: general            =
=============================================*/

* {
    margin: 0;
    padding: 0;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: "Raleway", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 14px;
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            SECTION: general section            =
=============================================*/

.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
}

.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title h2:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #129cf3;
    bottom: -20px;
    left: 50%;
    margin-left: -30px;
}

.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

/*=====  End of general section  ======*/

/*=============================================
=           SECTION: Navbar Section comment block            =
=============================================*/

.navbar-default {
    background-color: transparent;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #129cf3;
}

.navbar-default .navbar-nav > li > a {
    color: #b5b5b5;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #129cf3;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #b5b5b5;
}

.navbar-brand {
    padding: 9px 15px;
}

.navbar-brand img {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

/*=====  End of Navbar Section comment block  ======*/
