/*=============================================
=            SECTION: general            =
=============================================*/

* {
    margin: 0;
    padding: 0;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: "Raleway", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 14px;
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            SECTION: general section            =
=============================================*/

.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
}

.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title h2:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #129cf3;
    bottom: -20px;
    left: 50%;
    margin-left: -30px;
}

.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

/*=====  End of general section  ======*/

/*=============================================
=           SECTION: Navbar Section comment block            =
=============================================*/

.navbar-default {
    background-color: transparent;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #129cf3;
}

.navbar-default .navbar-nav > li > a {
    color: #b5b5b5;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #129cf3;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #b5b5b5;
}

.navbar-brand {
    padding: 9px 15px;
}

.navbar-brand img {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #129cf3;
}

/*=====  End of Navbar Section comment block  ======*/

/*=============================================
=            SECTION: header section            =
=============================================*/

.header {
    background-image: url(../img/header-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);
}

.logo {
    padding-bottom: 20px;
}

.header-text h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
    /* extra */
    /* letter-spacing: 0.1em; */
}

.header-text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    /* extra */
    /* text-transform: uppercase;
    letter-spacing: 0.1em; */
}

.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited {
    background: transparent;
    border-color: #129cf3;
    padding: 10px 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    -ms-border-radius: 3;
    -o-border-radius: 3;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

/*=====  End of header section  ======*/
