/*=============================================
=            SECTION: general            =
=============================================*/

* {
    margin: 0;
    padding: 0;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: "Raleway", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 14px;
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            SECTION: general section            =
=============================================*/

.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
}

/*=====  End of general section  ======*/
